@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(../css/reset.css);
@import url(../css/icon.css);
:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #ffffff;
  --black: #1a1a1a;
  --msuGreen: #2d4739;
  --gray: #eee;
}

* {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --themeSwitchColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --normalBg: var(--white);
}

.darkTheme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --themeSwitchColor: var(--msuGreen);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
  --normalBg: var(--black);
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background: #ffffff;
  color: #1a1a1a;
}

body.darkTheme {
  background: #1a1a1a;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body.darkTheme a {
  color: #ffffff;
}

body.darkTheme #header .logo a svg path {
  fill: #ffffff;
}

body.darkTheme .themeSwitch div {
  background: #eee;
}

img {
  display: block;
  width: 100%;
}

.area-common {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 50px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--fontColor);
  background: var(--normalBg);
}

#header .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

#header .logo a {
  display: none;
}

#header .logo a svg path {
  fill: #1a1a1a;
}

#header .nav {
  margin-left: auto;
}

#header .nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .gnb li {
  margin: 0 20px;
}

#header .nav .gnb li a {
  font-size: 2vmin;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

#header .themeSwitch {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .themeSwitch .fa-adjust {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#header .themeSwitch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#header .themeSwitch input {
  display: none;
}

#header .themeSwitch .slider {
  background-color: var(--themeSwitchColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

#header .themeSwitch input:checked + .slider {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}
