@import url("http://fonts.cdnfonts.com/css/montserrat");
@import url(../css/reset.css);
@import url(../css/icon.css);

:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2d4739;
  --gray: #eee;
}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --themeSwitchColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
}

.darkTheme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --themeSwitchColor: var(--msuGreen);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
}

body {
  background: #ffffff;
  color: #1a1a1a;
  &.darkTheme {
    background: #1a1a1a;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    a {
      color: #ffffff;
    }
    #header {
      .logo {
        a {
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }
    }
    .themeSwitch {
      div {
        background: #eee;
      }
    }
  }
}


#header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #1a1a1a;
  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
  }

  .logo {
    a {
      display: none;
      svg {
        path {
          fill: #1a1a1a;
        }
      }
    }
  }

  .nav {
    margin-left: auto;
    .gnb {
      display: flex;
      align-items: center;
      li {
        margin: 0 20px;
        a {
          font-size: 2vmin;
          font-weight: 500;
          font-family: Montserrat, sans-serif;
        }
      }
    }
  }

  .themeSwitch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fa-adjust {
      transform: rotate(180deg);
    }
    div {
      position: relative;
      display: block;
      background: #eee;
      width: 30px;
      border-radius: 50px;
      padding: 0 5px;
      box-sizing: border-box;
      cursor: pointer;
    }
    input {
      display: none;
    }

    .slider {
      background-color: var(--themeSwitchColor);
      transition: 0.4s;
      border-radius: 34px;
      height: 12px;
      width: 12px;
      display: inline-block;
      position: relative;
    }

    input:checked + .slider {
      transform: translateX(8px);
    }
  }
}